@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flamenco&family=Roboto&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Flamenco", sans-serif;
}

main {
	padding: 16px 16px 65px 16px;
	margin: auto;
}

footer {
	height: 65px;
	width: 100%;
	background-color: white;
	position: fixed;
	bottom: 0pt;
	left: 16px;
	border-top: 1px solid black;
}
footer > div {
	padding: 16px 0;
	background-color: #05c7f2;
}

img {
	height: 200px;
}

nav {
	border-bottom: 1px solid black;
	padding: 16px;
}
nav > a {
	font-size: 36px;
}

h3 > a {
	color: #f28963;
}

a {
	text-decoration: none;
}

.main-link:hover {
	color: #f2b035;
}

.main-link {
	color: white;
}

header {
	background-color: #f2167d;
	color: white;
}

.recipes {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.recipes > div {
	flex-basis: 250px;
	flex-grow: 1;
}

.highlight > td {
	background-color: grey;
}

td {
	padding-left: 5px;
}
